.chat-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: var(--color-5);
    height: 85vh; 
}

.chat-list-header {
    background-color: var(--color-5);
    z-index: 10;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    color: var(--color-4);
    margin-top: 20px;
    margin-bottom: 10px;
}

.chat-list-content {
    flex-grow: 1;
    overflow-y: auto;
}

.chat-list-footer {
    width: 100%;
    padding: 10px 0;
    background-color: var(--color-5);
    z-index: 10;
    border-top: 1px solid #ddd;
    position: sticky;
    bottom: 0;
}

.chat-list-container span {
    margin-top: 5px;
    padding-left: 18px;
}

@media screen and (max-width: 500px) {
    h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 350px) {
    h2 {
        font-size: 18px;
    }
}