.workspace-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--color-1);
    height: 100vh;
    width: 95vw;
}

.upper-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    margin-bottom: 20px;
}

.upper-container h1 {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-2);
}

.workspace-burger-menu {
    display: none;
}

.middle-container {
    display: flex;
    gap: 40px;
    width: 100%;
    height: 100%;
}

.chat-list-container {
    flex: 1;
}

@media screen and (max-width: 600px) {
    .workspace-burger-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        z-index: 8000;
    }

    .workspace-burger-menu span {
        width: 30px;
        height: 4px;
        background: var(--color-2);
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }

    .workspace-burger-menu.open > span {
        transform: rotate(45deg) translate(0px, 0px);
    }

    .workspace-burger-menu.open > span:nth-child(2) {
        display: none;
    }

    .workspace-burger-menu.open > span:nth-child(3) {
        transform: rotate(-45deg) translate(-5px, 1px);
    }

    .chat-list-container.hidden {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .upper-container h1 {
        font-size: 22px;
    }
}

@media screen and (max-width: 475px) {
    .upper-container h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    .upper-container h1 {
        font-size: 18px;
    }
}